<configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="myAppender" class="LoggerAppenderFile">
        <layout class="LoggerLayoutSimple" /> 
	    <param name="file" value="C:\YH\church\apache22\logs\myLog.log" /> 
	    <param name="append" value="true" /> 
    </appender>
    <root>
        <level value="WARN" />
        <appender_ref ref="myAppender" />
    </root>
</configuration>